<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org"
       th:replace="adminService/admindashboard::Layout(~{::section})">
<head>
	<meta charset="UTF-8"/>
	<title th:text="${title}"></title>
</head>
<body>
     <section>
           <div class="adminHomeMainDiv">
             <div class=" row rowFirst">
                 <div class="col-sm-4 CategoryContainer">                    
                          <h1>KTR Foods Pvt. Ltd.</h1>
                          <h3>When hunger , Then order.</h3>                   
                 </div>
                 <div class=" col-sm-7  monthlyOverViewDiv">
                        <h1>Monthly Overview</h1>
                        <h4>Total 0% growth this month.</h4>
                        <div class="recordsDiv">
                             <div class="recordContentDiv">
                                   <div class="imgdiv"><i class="fa-regular fa-user"></i></div>
                                   <div class="detailsDiv">
                                        <h1>CUSTOMER</h1>
                                        <h3>0</h3>
                                   </div>
                             </div>
                             <div class="recordContentDiv">
                                   <div class="imgdiv i1"><i class="fa-solid fa-dollar-sign"></i></div>
                                   <div class="detailsDiv">
                                        <h1> REVENUE</h1>
                                        <h3>0</h3>
                                   </div>
                             </div>
                             <div class="recordContentDiv">
                                   <div class="imgdiv i2" ><i class="fa-solid fa-arrow-trend-up"></i></div>
                                   <div class="detailsDiv">
                                        <h1>SALES</h1>
                                        <h3>0</h3>
                                   </div>
                             </div>
                             <div class="recordContentDiv card4" >
                                   <div class="imgdiv i3"><i class="fa-solid fa-laptop-file"></i></div>
                                   <div class="detailsDiv">
                                        <h1>PRODUCTS</h1>
                                        <h3>0</h3>
                                   </div>
                             </div>
                        </div>
                 </div>
              
             </div>
           
             <!-- second  row start here  -->
             
             <div class="row rowsecond">
                <div class=" weekly"></div>
                <div class=" totalearning"></div>
                <div class=" third">
                    <div class="innerCard"></div>
                    <div class="innerCard"></div>
                    <div class="innerCard"></div>
                    <div class="innerCard"></div>
                </div>
                
             </div>
           </div>          
    </section>	
</body>
</html>