<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
                 th:fragment="Layout(content1)">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <link rel="stylesheet" href="#" th:href="@{/css/adminServicec/adminDashboard.css}" />
    <link rel="stylesheet" href="#" th:href="@{/css/adminServicec/adminHome.css}" />
	<title th:text="${title}"></title>
</head>
<body>
      
      <div class="navbar">
              <div class="logoDiv">
                    <h1>KTR Foods</h1>
              </div>
                          
              <div class="profileDiv">
                 <h3>Krishna Kant Sharma <i class="fa-solid fa-angle-down"></i></h3>
              </div>
                       
       </div>
       
      <div class="adminPageMainDiv">
         <div class="leftSide">
            <div class="appIcon">
                 <img src="/image/ktrOrg-removebg-preview (1).png" alt="" />
            </div>
            <div class="allPageDiv">
                <div class="admiinHomeAllDiv active" >
                  <h1><a href="" th:href="@{/admin/home}">ADMIN DASHBOARD</a></h1>
                </div>
                <div class="admiinHomeAllDiv">
                <h1><a href="" th:href="@{/admin/allOrders}">VIEW ORDERS</a></h1>
                </div>
                <div class="admiinHomeAllDiv">
                <h1><a href="" th:href="@{/admin/addvendor}">ADD NEW VENDOR</a></h1>
                </div>
                <div class="admiinHomeAllDiv">
                <h1><a href="" th:href="@{/admin/viewCustomer}">VIEW ALL CUSTOMERS</a></h1>
                </div>
                <div class="admiinHomeAllDiv">
                <h1><a href="" th:href="@{/admin/additem}">ADD NEW ITEM</a></h1>
                </div>
                <div class="admiinHomeAllDiv">
                <h1><a href="" th:href="@{/admin/updatevendor}">UPDATE VENDOR'S DETAILS</a></h1>
                </div>
                <div class="admiinHomeAllDiv">
                <h1><a href="" th:href="@{/admin/updateItem}">UPDATE ITEM DETAILS</a></h1>
                </div>             
            </div>
         </div>
         <div class="rightSide">
         
             <div th:replace="${content1}"> 
                         
            </div>  
         </div>         
      </div>  
              
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js"></script>
	<script src="/js/items.js"></script>
	
</body>
</html>